<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MB</title>
</head>
<body>
<form action="2.php" method="post">
    <p> Как вас зовут?</p>
    Ваше имя<br><input type = "text" name="first name"><br>
    Ваша фамилия<br><input type="text" name="surname"><br>
    Ваш пол<br>
    <input type="radio" name="pol" value="M"> М<br>
    <input type="radio" name="pol" value="Ж"> Ж<br>
    Ваш возраст<br>
    <input type = "radio" name="age" value="18-25">18-25<br>
    <input type ="radio" name="age"  value="25-45">25-45<br>
    <input type="submit" value="отправить">
    <input type="reset" value="Отменить">
</form>
</body>
</html>